@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ddd;
}
.buffer {
	margin-top: 100px;
}
h1 {
	font-weight: bold;
	color: #ccc;
}
.completed {
  text-decoration: line-through;
}