%div{'ng-controller' => 'TodoCtrl'}
  .container-fluid
    .panel.panel-success
      .panel-heading
        %h4 
          %i Welcome, {{user.name}}!
      .panel-body
        .row
          .col-xs-10
            %form
              .input-group
                %input.form-control#new-todo{:autofocus => "", "ng-model" => "name", :placeholder => "Enter a todo", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-primary{'ng-click' => "new_todo()"}
                    %span.glyphicon.glyphicon-plus
          .col-xs-2
            %span.pull-right
              %button.btn.btn-danger{'ng-click' => "editing =! editing"}
                %span.glyphicon.glyphicon-edit

      .panel-footer
        %ul.list-group
          %li.list-group-item{'ng-repeat' => 'todo in todos'}
            %button.btn.btn-xs.btn-danger{'ng-click' => "delete_todo()",
              'ng-show' => 'editing',
              style: "margin-left: 5px"}
              %span.glyphicon.glyphicon-trash
            %span{'ng-class'=>"{completed: todo.is_complete}"}
              {{todo.name}}
            .pull-right
              %input{type: 'checkbox',
              id: '{{todo.id}}',
              'ng-checked' => '{{todo.is_complete}}', 
              'ng-model' => 'todo.is_complete', 
              'ng-change' => "check_todo()"}


